body {
    border: solid white;
    color: white;
    background-color: black;
}

.title {
    border: solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: larger;
    font-style: oblique;
    height: 150px;
    width: 100%;
}

#hud {
    border: solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: larger;
    font-style: oblique;
    width: 10%;
    margin-left: auto;
    margin-top: -80px;
}

.container {
    border: solid white;
    background-image: url('./img/Ozp-resize.gif');
    background-size: auto;
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
}


/* .stars {

    width: 100%;
    display: flex;
    justify-items: center;
} */

.battlemage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 60px;
    font-style: normal;
}

#start,
#attack,
#retreat {
    width: 60px;
    display: flex;
    margin-bottom: -28px;
    justify-content: center;
    font-size: larger;
}

#attack {
    margin-left: 80px;
}

#retreat {
    margin-left: 160px;
    margin-bottom: -20px;
}


#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    font-size: 20px;
}


.explosion {
    position: absolute;
    pointer-events: none;
    z-index: 10;
}